!!!
%html
%head
	%title RailsForumApp
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	%link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"}
	%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400"}
	
%body
	%header.main_header.clearfix
		.wrapper
			#logo
				%p Rails Forum App
			.buttons
				= link_to "New Post", new_post_path
	.wrapper
		%p.notice= notice
		%p.alert= alert

	.wrapper
		= yield